#.gitignore
.DS_Store
.Rhistory
.RData
zz_old
labels_preprocessing/.ipynb_checkpoints/
labels_preprocessing/.Rhistory
labels_preprocessing/create_recode_files.R
labels_preprocessing/old_stuff
satimg_preprocessing/.ipynb_checkpoints/
preprocess_satimgs/.ipynb_checkpoints/
preprocess_satimgs/satimg_utils/__pycache__/
preprocess_satimgs/test.py
preprocess_satimgs/Untitled.ipynb
figures
results
analysis/.Rhistory
analysis/.ipynb_checkpoints/
analysis/analysis_utils/__pycache__/

analysis/model_checkpoints/
analysis/model_results/

analysis/analysis_utils/torch_framework/__pycache__/
analysis/analysis_utils/__pycache__/

analysis/99_test_notebook.ipynb
analysis/Untitled.ipynb






